.menu-list{
    background: #e5ebea;
}

.color-one {
    background: #DB0404;
  }
  .color-two{
    background: #A10000;
  }
  .color-three {
    background: #6B0F03;
  }
  .color-four {
    background: #FFDE55;
  }
  .color-five{
    background: #FFA300;
  }
  .color-six{
    background: #DB0404;
  }
  .color-seven{
    background: #FF432E;
  }
  .color-white{
    color: #e5ebea;
  }
  .color-black{
    color: rgb(43, 41, 41);
  }

.btn-menu {
    padding: 15px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
  }