
  .burger-fondo {
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;   
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url('../img/hamburguesa-vegana.jpg')
   }

   .btn-menu-inicio {
     padding: 20px;
     border-radius: 10px;
     border: none;
     font-size: 25px;
     margin-top: 15%;
   }
   .oscuro{
    min-height: 100vh;
     background-color: rgba(13, 14, 13, 0.575);
   }
   .text-title{
    font-size: 50px;
  }