
  .color-four {
    background: #FFDE55;
  }
  .color-five{
    background: #FFA300;
  }
  .color-six{
    background: #DB0404;
  }
  .color-seven{
    background: #FF432E;
  }
  .color-white{
    color: #e5ebea;
  }
  .color-black{
    color: rgb(43, 41, 41);
  }

  .burger-header {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url('../img/hamburguesa-vegana.jpg')
   }

   .btn-menu {
     padding: 30px;
     border-radius: 10px;
     border: none;
     font-size: 25px;
   }