
.burger-fondo {
    min-height: 100vh;
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;   
    font-size: calc(10px + 2vmin);
    color: white;
    background-image: url('https://user-images.githubusercontent.com/44485081/56440154-31274700-62ae-11e9-9e3f-310c6316b7ec.jpg')
   }
   .box {
    width: 300px;
    height: 500px;
    margin: auto;
    padding: 10px 30px;
    margin-top: 100px;
    border-radius: 7px;
    font-size: 20px;
  }
  .pedido {
    border-radius: 10px;
    border: #DB0404 solid 3px;
  }
   .btn-menu-inicio {
     padding: 20px 40px;
     border-radius: 10px;
     margin-top: 30px;
     margin-bottom: 10px;
     border: none;
     font-size: 30px;
     text-align: center;
   }
   .oscuro{
    min-height: 100vh;
     background-color: rgba(251, 255, 251, 0);
   }
   .text-title{
    font-size: 100px;
  }
  .img-logo{
    width: 100px;
    height: 100px;
  }
  .img-nav{
    width: 70px;
    height: 60px;
  }
  @media (max-width: 768px) and (min-width:420px)  {
    .img-logo {
      width: 150px;
      height: 150px;
    }
    .box {
      margin-top: 30%;
      height: 500px;
    }
    .btn-menu-inicio {
      padding: 20px 40px;
      border-radius: 10px;
      margin-top: 20px;
      margin-bottom: 10px;
      border: none;
      font-size: 30px;
      text-align: center;
    }
    .img-salida{
      margin-left: 350px;
    }
    .img-nav{
      width: 50px;
      height: 50px;
    }
  .title{
    font-size: 18px;
  }
  .circulo{
    border-radius: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background: #ffffff;
  }
  }
  @media (min-width:770px){
    .img-logo {
      width: 300px;
      height: 300px;
    }
    .box {
      margin-top: 5%;
      height: 500px;
    }
    .btn-menu-inicio {
      padding: 40px 100px;
      border-radius: 10px;
      margin-top: 30px;
      margin-bottom: 10px;
      border: none;
      font-size: 40px;
      text-align: center;
    }
    .img-salida{
      margin-left: 380px;
    }
    .title{
      font-size: 18px;
    }
    .circulo{
      border-radius: 100%;
      padding-left: 60px;
      padding-right: 60px;
      background: #ffffff;
    }
  }
  @media (min-width:1024px)  {
    .img-logo {
      width: 300px;
      height: 300px;
    }
    .box {
      padding-top: 100px;
      height: 800px;
    }
    .btn-menu-inicio {
      padding: 45px 90px;
      border-radius: 10px;
      margin-top: 50px;
      margin-bottom: 30px;
      border: none;
      font-size: 40px;
      text-align: center;
    }
    .img-salida{
      margin-left: 500px;
    }
  .title{
    font-size: 20px;
  }
  .circulo{
    border-radius: 100%;
    padding-left: 60px;
    padding-right: 60px;
    background: #ffffff;
  }
  }
  @media (min-width:1366px)  {
    .img-logo {
      width: 200px;
      height: 200px;
    }
    .btn-menu-inicio {
      padding: 40px 90px;
      border-radius: 10px;
      margin-top: 30px;
      margin-bottom: 10px;
      border: none;
      font-size: 40px;
      text-align: center;
    }
    .img-salida{
      margin-left: 650px;
    }
    .box {
      padding-top: 100px;
    }
  .title{
    font-size: 20px;
  }
  .circulo{
    border-radius: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background: #ffffff;
  }
  }
  @media (min-width:1500px)  {
    .img-logo {
      width: 200px;
      height: 200px;
    }
    .btn-menu-inicio {
      padding: 15px 80px;
      border-radius: 10px;
      margin-top: 40px;
      margin-bottom: 10px;
      border: none;
      font-size: 40px;
      text-align: center;
    }
    .img-salida{
      margin-left: 700px;
    }
    .box {
      padding-top: 10px;
    }
  .title{
    font-size: 20px;
  }
  .circulo{
    border-radius: 100%;
    padding-left: 50px;
    padding-right: 50px;
    background: #ffffff;
  }
  }